@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Figtree', sans-serif;
    background-color: #2d2736;
    color: hsl(267, 72%, 80%);
    font-weight: 300;
    width: 768px;
    margin: 32px auto;
    position: relative;
}
h1, h2{
    font-weight: 300;
    margin-bottom: 32px;
}

hr{
    margin: 24px 0px;
    border: 1px solid hsl(267, 60%, 80%);;
}

#texto{
    background-color: hsl(264, 16%, 10%);
    font-size: 20px;
    padding: 8px 16px;
    border-radius: 8px;
    position: absolute;
    right: -8px;
    top: 8px;
}

#contenedor a{
    background-color: hsl(264, 16%, 40%);
    color: hsl(267, 72%, 90%);
    text-decoration: none;
    padding: 8px 20px;
    border-radius: 8px 8px 0px 0px;
    transition: 500ms;
}
#contenedor a:hover{
    background-color: hsl(263, 17%, 36%);
    color: hsl(267, 72%, 90%);
    box-shadow: 0px 0px 8px hsl(263, 21%, 58%);
}
    #cita{
        width: 90%;
        background-color: hsl(264, 16%, 40%);
        color: hsl(267, 72%, 90%);
        border-radius: 0px 12px 12px 12px;
        padding: 24px;
        font-size: 20px;
    }
ul{
    margin: 32px;
}
.parrafo{
    margin: 24px 0px;
}
#caja{
    width: 256px;
    height: 256px;
    background-color: #969696;
    border-radius: 8px;
    margin: 32px 16px;
    padding: 32px;
    color:hsl(264, 16%, 10%);
    font-size: 24px;
}
.mt{
    margin-top: 32px;
    display: inline-block;
}

#rotador{
    width: 75%;
    background-color: hsl(264, 16%, 40%);
    color: hsl(267, 72%, 90%);
    border-radius: 12px ;
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    #rotador img{
        filter: invert();
        cursor: pointer;
        transition: 500ms;
    }
    #rotador img:hover{
        transform: scale(1.2);
    }
    #rotador span{
        font-size: 32px;
    }

#lista li{
    font-size: 24px;
    list-style-type: none;
    margin: 4px;
    transition: 500ms;
}
    #lista li::before{
        content: url('../clase8/imgs/ice-cream.png');
        margin-right: 16px;
        position: relative;
        top: 4px;
    }
    #lista li:hover{
        font-size: 30px;
        background-color: hsl(264, 16%, 24%);
    }